<app-nav-bar></app-nav-bar>

<div id="page-title" class="padding-tb-30px gradient-white">
  <div class="container text-left">
    <ol class="breadcrumb opacity-5">
      <li><a href="#">Home</a></li>
      <li class="active">Recipe</li>
    </ol>
    <h1 class="font-weight-300">Slow Cooker Loaded Potato Soup</h1>
  </div>
</div>
<div class="container">
  <div class="margin-bottom-40px card border-0 box-shadow">
    <div class="card-img-top"><a href="#"><img src="assets/img/recipes-single.jpg" alt=""></a></div>
    <div class="padding-lr-30px padding-tb-20px">
      <h5 class="margin-bottom-20px margin-top-10px"><a class="text-dark" href="#">Slow Cooker Loaded Potato Soup</a></h5>
      <div class="rating">
        <ul>
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
          <li class="active"></li>
          <li></li>
        </ul>
      </div>
      <hr>
      <h3>Ingredients</h3>
      <ul>
        <li><strong>16 oz</strong> rotini noodles</li>
        <li><strong>24 oz</strong> spaghetti sauce (prego traditional)</li>
        <li><strong>1/2 lb</strong> ground beef</li>
        <li><strong>15 oz</strong> ricotta cheese</li>
        <li><strong>14 oz</strong> mozzarella shredded</li>
        <li><strong>1 can</strong> sliced olives</li>
        <li><strong>1 packages</strong> pepperoni slices</li>
      </ul>
      <h3>Method</h3>
      <ol>
        <li>preheat oven to 350º</li>
        <li>bring noodles to a boil then drain</li>
        <li>while noodles are cooking in a bowl mix ricotta cheese, mozzarella cheese and olives together. it will be thick</li>
        <li>cook ground beef then drain</li>
        <li>add spaghetti sauce to ground beef</li>
        <li>add pasta to beef and sauce mix, stir until well blended then move to 16x9 casserole dish</li>
        <li>spread cheese mixture all over evenly</li>
        <li>place pepperonis on top snd remember to partially overlap pepperonis since they shrink</li>
        <li>back in 350º oven for 20 minutes</li>
      </ol>
      <hr>
      <div class="row no-gutters">
        <div class="col-4 text-left"><a href="#" class="text-red"><i class="far fa-heart"></i> Save</a></div>
        <div class="col-8 text-right"><a href="#" class="text-grey-2"><i class="fas fa-users"></i> 6-8 servings</a></div>
      </div>
    </div>
  </div>
</div>

<app-footer-gallery></app-footer-gallery>
<app-footer></app-footer>
