<div class="main-banner">
  <app-nav-bar></app-nav-bar>
  <div class="container">
    <div class="ptb-200">
      <h1 class="text-light">+{{numberOfDishes}}</h1>
      <h3 class="text-light">Cooking Recipes</h3>
    </div>
  </div>
</div>
<div class="container  mt-70">
  <div class="row justify-content-center">
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-5 col-6" *ngFor="let dishType of dishTypes">
      <app-dish-type-card [dishType]="dishType" (click)="sortDishes(dishType)"></app-dish-type-card>
    </div>
  </div>
</div>
<div class="ptb-100">
  <div class="container">
    <div class="text-center">
      <h2 class="text-danger">Latest Recipes</h2>
      <div class="row justify-content-center mb-45">
        <div class="col-xl-7 col-lg-9 col-md-11 col-sm-12 col-12 ">
          <p class="text-grey"> The presence of different cuisines of different nations proves that good food is just a familiar food.</p>
          <q class="text-grey float-right">Claude Helvetius</q>
        </div>
      </div>
    </div>
    <app-dish-list></app-dish-list>
  </div>
</div>
<app-download-link></app-download-link>
<app-footer-gallery></app-footer-gallery>
<app-footer></app-footer>
