<app-nav-bar></app-nav-bar>



<div class="container">
  <div class="container">
    <div id="page-title" class="padding-tb-30px gradient-white">
      <div class="container text-left">
        <ol class="breadcrumb opacity-5">
          <li class="active">Recipe</li>
        </ol>
        <h1 class="font-weight-300">{{dishDetailed?.name}}</h1>
      </div>
    </div>
    <div class="container">

      <div class="margin-bottom-40px card border-0 box-shadow">
        <!--<div class="card-img-top"><a href="#"><img [src]="dish?.image" alt=""></a></div>-->
        <div class="padding-lr-30px padding-tb-20px">
          {{dishDetailed?.description}}
          <hr>
          <h3>Ingredients</h3>
          <ul>
            <li *ngFor="let ingredient of dishDetailed?.ingredients">
              <strong>{{ingredient.quantityOfProduct}} lbs</strong> {{ingredient.product.name}}
            </li>

          </ul>
          <h3>Method</h3>
          <ol>
            <li *ngFor="let recipeStep of dishDetailed?.recipeSteps">{{recipeStep?.description}}</li>
          </ol>
          <hr>
          <div class="row no-gutters">
            <div class="col-4 text-left">
              <app-like [numberOfLikes]="dishDetailed?.numberOfLikes"></app-like>
            </div>
            <div class="col-8 text-right"><span class="text-grey">{{dishDetailed?.dateOfCreate | date}}</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<app-footer-gallery></app-footer-gallery>
<app-footer></app-footer>
