<div class="card m-2">
  <a routerLink="/recipe/{{dish.id}}">
    <img class="card-img-top cursor" [src]="dish.image" alt="Card image cap">
  </a>
  <div class="card-body">
    <a routerLink="/recipe/{{dish.id}}">
      <h5 class="card-title cursor" title="{{dish.name}}">{{dish.name}}</h5>
    </a>
    <hr>
    <div class="row2">
      <img class="avatar" [src]="dish.author.avatar" alt="Client's avatar"/>
      <p class="text-grey m-3 text-center">{{dish.author.lastName}} {{dish.author.firstName}}</p>
    </div>
  </div>
</div>
