<app-nav-bar></app-nav-bar>

<div id="page-title" class="padding-tb-30px gradient-white text-center">
  <div class="container">
    <h1 class="font-weight-300">Login Page</h1>
  </div>
</div>

<div class="container margin-bottom-50px">
  <div class="site-form log-in-form box-shadow border-radius-10">
    <div class="form-output">
      <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
        <div class="form-group label-floating">
          <label class="control-label" for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" [(ngModel)]="form.username"
                 #username="ngModel" required/>
          <div *ngIf="f.submitted && username.invalid">
            <div *ngIf="username.errors.required">Username is required</div>
          </div>
        </div>
        <div class="form-group label-floating">
          <label class="control-label" for="password">Password</label>
          <input type="password" class="form-control" name="password" id="password" [(ngModel)]="form.password"
                 #password="ngModel"
                 required minlength="4"/>
          <div *ngIf="f.submitted && password.invalid">
            <div *ngIf="password.errors.required">Password is required</div>
            <div *ngIf="password.errors.minlength">Password must be at least 4 characters</div>
          </div>
        </div>
        <div class="form-group">
          <button class="btn btn-primary">Login</button>
          <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
            Login failed: {{errorMessage}}
          </div>
        </div>
        <hr/>
        <p>Don't have an account?</p>
        <a routerLink="/signup" class="btn btn-md bg-facebook full-width btn-icon-left">Sign Up</a>
      </form>
    </div>
  </div>
</div>
<app-footer-gallery></app-footer-gallery>
<app-footer></app-footer>

