<app-nav-bar></app-nav-bar>

<div id="page-title" class="padding-tb-30px gradient-white">
  <div class="container">
    <h1 class="font-weight-300">Add Recipe</h1>
  </div>
</div>

<div class="container">
  <div class="margin-tb-45px full-width">
    <h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10">
      <i class="far fa-list-alt margin-right-10px text-main-color"></i>Basic Informations
    </h4>
    <div class="padding-30px padding-bottom-30px background-white border-radius-10">
      <form>
        <div class="form-group margin-bottom-20px">
          <label><i class="far fa-list-alt margin-right-10px"></i> Recipe Title</label>
          <input type="text" class="form-control form-control-sm" id="ListingTitle" placeholder="Listing Title">
        </div>
        <div class="form-group margin-bottom-20px">
          <div class="row">
            <div class="col-md-6">
              <label><i class="far fa-folder-open margin-right-10px"></i> Category</label>
              <select class="form-control form-control-sm">
                <option>Fish</option>
                <option>Cocktails</option>
                <option>Eggs</option>
                <option>Salads</option>
                <option>Asian</option>
                <option>Pizza</option>
              </select>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
  <div class="margin-bottom-45px full-width">
    <h4 class="padding-lr-30px padding-tb-20px background-white box-shadow border-radius-10">
      <i class="far fa-list-alt margin-right-10px text-main-color"></i>Description
    </h4>
    <div class="padding-30px padding-bottom-30px background-white border-radius-10">
      <div class="margin-bottom-20px">
        <textarea class="form-control" id="exampleTextarea" rows="8"></textarea>
      </div>
      <div class="row">
        <div class="col-md-6 margin-bottom-20px">
          <label><i class="far fa-images margin-right-10px"></i> Image URL</label>
          <input type="text" class="form-control form-control-sm" placeholder="http://www.">
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-lg border-2  ba-1 text-white margin-bottom-80px btn-block border-radius-15 padding-15px box-shadow">Add Recipe</a>
  </div>
</div>

<app-footer-gallery></app-footer-gallery>
<app-footer></app-footer>
